body {
    font-family: Arial, sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

.card {
    margin: 20px 0;
}

footer {
    background-color: #0b0b0b;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.contact-box {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-box {
    margin-bottom: 2rem; /* Adjust the value as needed */
}